{% load static %}
<!--this is needed to load css and js files in django-->

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home Page</title>

    <link rel="stylesheet" href="{% static 'CSS/home.css' %}" /> <!--needed to enable CSS-->
    <link rel="stylesheet" href="{% static 'CSS/style.css' %}" /> <!--needed to enable CSS-->
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css"
    />
  </head>
  <body>
    <header>
      <!--Include these tabs for any page that you want to have the tabs-->
      <div class="tabs">
        <button class="nav-button" data-url="{% url 'home' %}">Home</button>
        <button class="nav-button" data-url="{% url 'cart' %}">Shopping Cart</button>
        <button class="nav-button" data-url="{% url 'account' %}">Account</button>
        {% if request.user.groups.all.0.name == "Admin" %}
            <button class="nav-button" data-url="{% url 'admin_dashboard' %}">Admin Dashboard</button>
        {% endif %}
        <button class="nav-button" data-url="{% url 'entry' %}">Log Out</button>
        <form class="search-form">
          <input type="text" name="search" placeholder="Search..." /> <br />
          <button type="submit">Search!</button>
        </form>
      </div>
    </header>

    <main>

      <h1>Hello, {{ user.username }}!</h1>

      <section class="products">
        <h2>Products</h2>

        <div class="productContainer">
          <article class="product">
            <h3>Forest Whispers</h3>
            <img src="{% static 'Images/forestPainting.jpeg' %}" alt="Forest Whispers Oil Painting">
            <p>
              Detailed oil painting featuring a mystical forest with light
              filtering through trees.
            </p>
            <p><strong>$329.99</strong></p>
            <button class="viewBtn" data-id="3">View Details</button>
            <button><i class="fas fa-shopping-cart"></i> Add to Cart</button>
          </article>

          <article class="product">
            <h3>Attack on Titan Painting</h3>
            <img src="{% static 'Images/aotPainting.jpg' %}" alt="Attack on Titan Painting">
            <p>
              Beautiful Attack on Titan Painting of Future Eren and Past Eren.
            </p>
            <p><strong>$59.99</strong></p>
            <button class="viewBtn" data-id="3">View Details</button>
            <button><i class="fas fa-shopping-cart"></i> Add to Cart</button>
          </article>

          <article class="product">
            <h3>Arcane Painting</h3>
            <img src="{% static 'Images/arcanePainting.jpeg' %}" alt="Arcane Painting">
            <p>
              Detailed oil painting featuring a mystical forest with light
              filtering through trees.
            </p>
            <p><strong>$49.99</strong></p>
            <button class="viewBtn" data-id="3">View Details</button>
            <button><i class="fas fa-shopping-cart"></i> Add to Cart</button>
          </article>

          <article class="product">
            <h3>Solo Leveling Painting</h3>
            <img src="{% static 'Images/jinwooForest.jpeg' %}" alt="Solo Levelling Painting">
            <p>
              Jinwoo Aura Farming in the Snow Forest.
            </p>
            <p><strong>$49.99</strong></p>
            <button class="viewBtn" data-id="3">View Details</button>
            <button><i class="fas fa-shopping-cart"></i> Add to Cart</button>
          </article>
        </div>
      </section>
    </main>

    <script src="{% static 'JS/script.js' %}"></script> <!--needed to enable JS-->
  </body>
</html>
